$color-success: #28a745;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-black: #222222;
$color-white: #fcfcfc;
$color-info: #17a2b8;
$color-primary: #007bff;
$color-secondary: #6e757d;
$color-IranianSans: "IranianSans", "Tahoma", "Roboto", "sans-serif";
$color-input: #1a1a1a;
$color-input-disabled: #2a2a2ac5;
$color-base: IranianSans;
